template(name='LoginShow')
  +contentFor('headerTitle')
    h1.title {{_ 'login.login' }}
  +ionView
    +ionContent
      .padding
        a.button.button-positive.button-block(data-action='log-in')
          | {{_ 'login.loginWithGoogle' }}
