template(name='LoginShow')
  +contentFor('headerTitle')
    h1.title Log in
  +ionView
    +ionContent
      .padding
        a.button.button-positive.button-block(data-action='log-in')
          | Click to log in with Google
