@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.list-items {
  form {
    position: relative;
    z-index: 100;

    input {
      height: 19px;
    }
  }

  div.item {
    position: relative;
    z-index: 50;

    // Hide list name in single list view
    p {
      display: none;
    }
  }
}

.animate {
  transition: all 300ms 0ms ease-out;
}

.sidebar {
  &--current-user {
    padding-top: 12px;
    padding-bottom: 11px;

    i {
      color: white;
    }
  }

  .badge {
    right: 16px;
  }
}

.list-item {
  &__done {
    opacity: 0.5;

    h2 {
      text-decoration: line-through;
    }
  }
}

@media (min-width: 570px) {
  .autoform-tags-field {
    width: 100%;
    max-width: calc(100% - 200px);
  }
}

@media (max-width: 570px)  {
  .autoform-tags-field {
    width: 65%;
  }
}

.bootstrap-tagsinput {
  border: none;
  box-shadow: none;
  white-space: normal;

  .tag {
    @extend .button.button-positive.button-outline;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 2px;
    display: inline-block;
    margin-top: 2px;
  }

  input {
    padding-right: 0;
  }
}
