@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.list-items {
  form {
    position: relative;
    z-index: 100;

    input {
      height: 19px;
    }
  }

  div.item {
    position: relative;
    z-index: 50;
  }
}

.animate {
  transition: all 300ms 0ms ease-out;
}
