template(name='ListsIndex')
  each lists
    +ListShow
  +ListCreate

template(name='ListShow')
  .panel.panel-default
    .panel-heading= name
    .panel-body
      each listItems
        +ListItem
      form.form-horizontal
        .col-sm-10
          input.form-control(type='text' placeholder='New item' name='name')
        .col-sm-2
          button.btn.btn-success.btn-sm(type='submit')
            span.glyphicon.glyphicon-plus
              
template(name='ListItem')
  .row-fluid
    .col-sm-10
      = name
    .col-sm-2
      +if done
        button.btn.btn-success.btn-sm(type='button' data-action='mark-as-not-done')
          span.glyphicon.glyphicon-remove
      else
        button.btn.btn-success.btn-sm(type='button' data-action='mark-as-done')
          span.glyphicon.glyphicon-ok
              
template(name='ListCreate')
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='new-list-name') Name
      .col-sm-10
        input.form-control#new-list-name(type='text' placeholder='List name' name='name')
          
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Submit
