template(name='ListCreate')
  +contentFor('headerButtonLeft')
    +ionNavBackButton(path="ListIndex")
  +contentFor('headerTitle')
    h1.title New list
  +ionView
    +ionContent
      +quickForm(collection='SL.Lists' type='insert' id='list')
