template(name='ListCreate')
  +contentFor('headerButtonLeft')
    button.button.button-clear.pull-left(data-ion-menu-toggle='left')
      +ionIcon(icon='navicon')
  +contentFor('headerTitle')
    h1.title {{_ 'list.newList' }}
  +ionView
    +ionContent
      +quickForm(collection='SL.Lists' type='insert' id='list' buttonContent=saveButtonName)
