template(name='ListIndex')
  +contentFor('headerButtonLeft')
    button.button.button-clear.pull-left(data-ion-menu-toggle='left')
      +ionIcon(icon='navicon')
  +contentFor('headerTitle')
    h1.title All items
  +ionView
    +ionContent
      +ionList(class='list-items')
        each listItems
          +ListItemShow
