template(name='ListIndex')
  +contentFor('headerButtonLeft')
    button.button.button-clear.pull-left(data-ion-menu-toggle='left')
      +ionIcon(icon='navicon')
  +contentFor('headerTitle')
    h1.title {{_ 'list.allItems' }}
  +ionView
    +ionContent
      +ionList
        each listItems
          +ListItemShow
