template(name='ListShow')
  +contentFor('headerButtonLeft')
    button.button.button-clear.pull-left(data-ion-menu-toggle='left')
      +ionIcon(icon='navicon')
  +contentFor('headerTitle')
    h1.title= list.name
  +contentFor('headerButtonRight')
    a.button.button-clear(href="{{pathFor 'ListUpdate' _id=list._id}}")
      +ionIcon(icon='edit')
  +ionView
    +ionContent
      +ionList(class='list-items')
        +ListShowCreateItem
        each listItems
          +ListItemShow
                
template(name='ListShowCreateItem')
  form
    +ionItem(buttonRight=true)
      input(type='text' placeholder='New item' name='name')
      button.button.button-positive
        +ionIcon(icon='plus')
