template(name='ListShow')
  +contentFor('headerButtonLeft')
    button.button.button-clear.pull-left(data-ion-menu-toggle='left')
      +ionIcon(icon='navicon')
  +contentFor('headerTitle')
    h1.title= list.name
  +contentFor('headerButtonRight')
    a.button.button-clear(href="{{pathFor 'ListUpdate' _id=list._id}}")
      +ionIcon(icon='edit')
  +ionView
    +ionContent
      +ionList(class='list-items')
        +ListShowCreateItem
        each listItems
          +ListShowItem
              
template(name='ListShowItem')
  +ionItem(buttonRight=true)
    h2= name
    if done
      button.button(data-action='mark-as-not-done')
        +ionIcon(icon='checkmark')
    else
      button.button.button-positive(data-action='mark-as-done')
        +ionIcon(icon='checkmark')
                
template(name='ListShowCreateItem')
  form
    +ionItem(buttonRight=true)
      input(type='text' placeholder='New item' name='name')
      button.button.button-positive
        +ionIcon(icon='plus')
