template(name='ListUpdate')
  +contentFor('headerButtonLeft')
    +ionNavBackButton(path="ListShow" _id=list._id)
  +contentFor('headerTitle')
    h1.title= list.name
  +ionView
    +ionContent
      +quickForm(collection='SL.Lists' type='update' id='list' doc=list)
        
      .padding
        button.button.button-assertive.button-block(type='button' data-action='delete')
          | Delete
      
