template(name='ListItemShow')
  +ionItem(buttonRight=true class=itemClass)
    h2= name
    p= listName
    +ListItemShowButtons
    
template(name='ListItemShowButtons')
  if done
    button.button.button-clear(data-action='mark-as-not-done')
      +ionIcon(icon='checkmark')
  else
    button.button.button-positive(data-action='mark-as-done')
      +ionIcon(icon='checkmark')
