template(name='SidebarShow')
  .list
    .item.item-dark.item-button-right.sidebar--current-user
      if currentUser
        = currentUser.profile.name
        a.button.button-clear(data-ion-menu-close href="{{pathFor 'Logout'}}")
          +ionIcon(icon='log-out')
    a.item(data-ion-menu-close href="{{pathFor 'ListIndex'}}" class="{{selectedClass 'all'}}")
      | All items
    each lists      
      a.item(data-ion-menu-close href="{{pathFor 'ListShow' _id=_id}}" class="{{selectedClass _id}}")
        = name
    a.item.item-button-right.sidebar--add-list(data-ion-menu-close href="{{pathFor 'ListCreate'}}" class="{{selectedClass 'new' 'item-dark'}}")
      | New list
      .button.button-clear
        +ionIcon(icon='plus')
