template(name='SidebarShow')
  .list.sidebar
    .item.item-dark.item-icon-right.sidebar--current-user
      if currentUser
        = currentUser.profile.name
        a(data-ion-menu-close href="{{pathFor 'Logout'}}")
          +ionIcon(icon='log-out')
          
    +SidebarAllItems
      
    each lists      
      +SidebarList
          
    +SidebarNewList

template(name='SidebarAllItems')
  a.item(data-ion-menu-close href="{{pathFor 'ListIndex'}}" class=selectedClass)
    | All items
    span.badge.badge-assertive
      = badgeCount

template(name='SidebarList')
  a.item(data-ion-menu-close href="{{pathFor 'ListShow' _id=_id}}" class=selectedClass)
    = name
    span.badge.badge-assertive
      = badgeCount
    if shared
      +ionIcon(icon='person-stalker')

template(name='SidebarNewList')
  a.item.item-icon-right.sidebar--add-list(data-ion-menu-close href="{{pathFor 'ListCreate'}}" class=selectedClass)
    | New list
    +ionIcon(icon='plus')
